
.btn{
    background-color: #fff;
    font-size: 14px;
    margin: 6px;
    padding: 10px 30px;
    outline: 0;
    font-family: 'Roboto';
    overflow: hidden;
    position: relative;
    max-height: 35px;
    max-width: 120px; 
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
}

.btn:hover{
    opacity: 0.9;
}

button .ripple{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.52);
    position: absolute;
    transform : scale(0);
    animation: ripple 0.6s linear;
}

@keyframes ripple{
    100%{
        transform: scale(3);
        opacity: 0;
    }
}