.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileContainer{
    background-color: #fff;
    width: 100%;
    position: relative;
    margin: 80px auto;
    height: 400px; 
    display: inline-block;
}

.profilePic{
    top:-60px;
}

.profilePic img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.userContent{
    width: 90%;
    top: 100px;
    padding: 20px;
    text-align: center;
    font-size: 17px;
    color:rgba(0,0,0,.54);
}

.userName, .userDetails{
    margin: 10px;
}

.userName, .postTitle{
    color: #00ab6b;
    text-transform: capitalize;
}

.number{
    font-size:16px;
    color:#000;    
}

.posts{
    margin: 40px auto;
}
.postHead{
    font-size: 29px;
    text-align:center;
    color: #000;
    
}

.posts li{
    list-style: none;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    margin: 15px;
    padding: 15px;
    font-size: 20px;        
    border:0;
    max-width: 500px;
    max-height: 150px;
    overflow: hidden;
    color:rgba(0,0,0,.54);
    cursor: pointer;
    transition:all 0.3s;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.posts li:hover{
    transform:scale(1.2);
}

.postTitle{
    font-size: 29px;
    padding:10px;
}