
.signinContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Ubuntu';
    color:grey;
    width: 30%;
    height: 450px;
    margin: 100px auto;
    background-color: white;
}

/* .signinContainer:before, .signinContainer:after{
    content: '';
    background-color: #2196F3;
    width: 100%;
    height: 20px;
} */

.signinContainer h1{
    padding: 5%;
}

.signinContainer input{
    width: 60%;
    border: 2px solid #ddd;
    padding: 6px;
    margin-bottom: 10px;
    background-color: #ddd;
    outline: none;
}

.material-icons{
    font-size: 200px;
    /* position: relative;
    top:140px; */
}

@media only screen and (max-width: 600px) {
    .signinContainer{
        width: 80%;
        margin: 200px auto;
    }
    .signinContainer input{
        width: 70%;
    }
}