
.signinContainer{
    flex-direction: column;
    font-family: 'Ubuntu';
    color:grey;
    width: 30%;
    height: 450px;
    margin: 100px auto;
    background-color: white;
}

 .signinContainer:before{
    content: '';
    background-color: #2196F3;
    width: 100%;
    height: 50px;
    position: relative;
    top: -40px;
} 

.signinContainer h1{
    padding: 5%;
}


.signinContainer input{
    width: 60%;
    border:0;
    border-bottom: 2px solid #2196F3;
    border-left: 5px solid #2196F3;
    padding: 6px;
    margin-bottom: 10px;
    outline: none;
    transition: all 0.3s;
}

.signinContainer input:focus{
    width:57%;
    border-left: 15px solid #2196F3;  
    background-color: #ddd;
}

.material-icons{
    font-size: 200px;
    /* position: relative;
    top:140px; */
}

@media only screen and (max-width: 600px) {
    .signinContainer{
        width: 80%;
        margin: 200px auto;
    }
    .signinContainer input{
        width: 70%;
    }
    .signinContainer input:focus{
        width:67%;
    }
}