
.signinContainer{
    flex-direction: column;
    font-family: 'Ubuntu';
    color:grey;
    width: 400px;
    height: 450px;
    margin: 100px auto;
    background-color: white;
    border-radius: 20px;
}

.signinContainer h1{
    padding: 5%;
}


.signinContainer input{
    width: 60%;
    border-radius: 20px;
    border: 1px solid rgba( 0, 0, 0, 0.52);
    padding: 6px;
    margin-bottom: 10px;
    outline: none;
    transition: all 0.3s;
    font-size: 14px;
}

.signinContainer input:focus{
    width:57%;
    border-left: 15px solid rgba(0,0,0, 0.52);
    background-color: #ddd;
}

.material-icons{
    font-size: 200px;
    /* position: relative;
    top:140px; */
}

@media only screen and (max-width: 600px) {
    .signinContainer{
        width: 80%;
        margin: 200px auto;
    }
    .signinContainer input{
        width: 70%;
    }
    .signinContainer input:focus{
        width:67%;
    }
}