*{
  margin: 0;
  padding: 0; 
}

.App{
  background-image: linear-gradient(#2196F3, white),url("http://bpic.588ku.com/element_origin_min_pic/17/07/06/a8fdbbb08cf402dee465068e4799a63f.jpg");
  background-size: cover;
  background-blend-mode:screen;
  height: 100%;
}

.flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxShadow{
  box-shadow:0 0 5px 2px rgba(0, 0, 0, 0.5);
}