*{
  margin: 0;
  padding: 0; 
  font-family: 'Roboto';
}

.App{
  background-color:#fff;
  background-size: cover;
  height: 100%;
}

.flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center{
  position:absolute;
  left:50%;
  transform: translateX(-50%);
}

.boxShadow{
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}